.input-button {
	width: 40px;
	height: 40px;
	background: #f2f2f2;
	border-radius: 4px;
	/* padding: 8px 5px 8px 5px; */
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

input {
	height: 34px;
	width: 100px;
	text-align: center;
	font-size: 26px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
}

.qrcode {
	width: 100px;
	height: 100px;
	margin: 20px;
}

			