
body {
	/* Set your initial background color */
	background-color: #edf2f4;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5vh;
  }
.input-subtraction-button {
	width: auto;
	height: auto;
	min-width: 3vh;
	min-height: 3vh;
	background: url('subtraction (1).png');
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	border: none;
	margin:auto;
}
.input-addition-button {
	width: auto;
	height: auto;
	min-width: 3vh;
	min-height: 3vh;
	background: url('addition.png');
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	border: none;
	margin:auto;

}
.input-submit-button {
    width: auto; 
    height: auto; 
    min-width: 250px; /* Set a maximum width if needed */
    min-height: 100px;
    background: url('submitbutton.png');
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: none;
    margin: 30px;
}
.qrcode {
	width: 100px;
	height: 100px;
	margin: auto;
	padding-bottom: 10vh;
	display:block;
	background-size: 100% 100%;
	border: none;
	left: 50%;
    transform: translateX(-75%);
}

.titles {
	font-family: Arial;
	font-size: 3vh;
	margin:.5vh;
	font-weight: bold;
	color:  #670c0f;
  }

.main-titles{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 6vh;
	margin:.5vh;
	font-weight: bold;
	color:  #670c0f;
}
			